*{
    margin: 0;
    padding: 0;
}
header{
    display: flex;
    background-color: rgb(246, 248, 251);
    
    /* border-bottom: 0.5px solid slategrey ; */
    


}
a{
   color: black;
    font-size: 50px;
    text-decoration: none;
}
h1{
    margin-top: 10px;
    position: absolute;
    left:50%;
    /* background-color: blue; */
    width: 300px;
    height: 300px;

}